/* src/styles/Admin.css */

.admin-page {
    display: flex;
    flex-direction: column;
  }
  
  .admin-header {
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .admin-content {
  margin-left: 300px;  }
  
  .sidebar {
    text-decoration: none;
    color: #007bff;
    margin: 0px 0;
    list-style: none;
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .admin-main {
    padding: 20px;
    flex-grow: 1;
  }
  
  .dashboard-stats {
    display: flex;
    justify-content: space-around;
  }
  
  .stat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
  }
  